.container {
    display: flex;
    justify-content: center;
    width: 85%;
}

/* this is for tablet and mobile device */
@media (max-width: 770px) {
    .container {    
        width: 100%;
    }
}